<!doctype html>
<html>
	<base href="#(basepath)">
	<head>
		<meta charset="utf-8">
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.css" rel="stylesheet">
		<link href="css/webiframe.css" rel="stylesheet" />
	</head>

	<body>
	<div class="container" style="height: 100%;">
		<div class="blog_column_right_container">
			<!-- 头部导航条 -->
			<div class="blog_column_right_head">
				<div class="blog_column_right_head_icon">
					<a  href="story.html"><img src="img/Hydrangeas.jpg" /></a>
				</div>
				<div class="blog_column_right_head_button">
					<a href="story.html" class="btn btn-default" style="border-radius: 30px;">专题主页 ></a>
				</div>
				<div class="blog_column_right_head_title">
					<a href="story.html">读书</a>
				</div>
				<div class="blog_column_right_head_count">
					<a href="index.html">启程</a>编·收录了
					<span>13583697</span>篇文章·
					<span>123538445</span>人关注
				</div>
			</div>
			
			<!-- 栏目文章分类条 -->
			<div class="blog_column_right_menu">
				<li class="active">
					<a href="#"><i class="glyphicon glyphicon-book"></i>最新收录</a>
				</li>
				<li class="">
					<a href="#"><i class="glyphicon glyphicon-comment"></i>最新评论</a>
				</li>
				<li class="">
					<a href="#"><i class="glyphicon glyphicon-fire"></i>热门文章</a>
				</li>
			</div>
			<!-- 文章导航 -->
			<div class="blog_article">
				<div class="blog_left_arts">
					<div class="blog_left_arts_title">
						<a id="title">来一斤小许</a>
					</div>
					<div class="blog_left_arts_author" >
						<a id="aut">文/小伟</a>
					</div>
					<div class="blog_article_remark">
						<p class="" id="s_content'+i+'">运行此 main 方法方法可元素欲达可元素欲达到 inline-block 的效果只需直接设置此属性值或使用 zoom:1 以启动项目，此main方法可以放置在任意的Class类定义中成的配置再添加额外的配置项，例如 VM argument 可配置为</p>
					</div>
				</div>
				
				<div class="blog_right_imgs">
					<a><img  id="xiaoyu'+i+'" ></a>
				</div>
			    <div  style="display:inline-block;"><button class="glyphicon glyphicon-comment" style="border:none;background:white;color:gray;dispaly:inline-block;" ><span id="commentN'+i+'" style="margin-left:5px;"></apan></button>
			    <div  style="display:inline-block;"><button class="glyphicon glyphicon-heart" style="border:none;background:white;color:gray;" ><span id="collectN'+i+'"style="margin-left:5px;"></apan></button>
			</div>
			<div class="blog_article">
				<div class="blog_left_arts">
					<div class="blog_left_arts_title">
						<a id="title">来一斤小许</a>
					</div>
					<div class="blog_left_arts_author" >
						<a id="aut">文/小伟</a>
					</div>
					<div class="blog_article_remark">
						<p class="" id="s_content'+i+'">运行此 main 方法方法可元素欲达可元素欲达到 inline-block 的效果只需直接设置此属性值或使用 zoom:1 以启动项目，此main方法可以放置在任意的Class类定义中成的配置再添加额外的配置项，例如 VM argument 可配置为</p>
					</div>
				</div>
				
				<div class="blog_right_imgs">
					<a><img  id="xiaoyu'+i+'" ></a>
				</div>
				<div  style="display:inline-block;"><button class="glyphicon glyphicon-comment" style="border:none;background:white;color:gray;dispaly:inline-block;" ><span id="commentN'+i+'" style="margin-left:5px;"></apan></button>
				<div  style="display:inline-block;"><button class="glyphicon glyphicon-heart" style="border:none;background:white;color:gray;" ><span id="collectN'+i+'"style="margin-left:5px;"></apan></button>
			</div>
			<div class="blog_article">
				<div class="blog_left_arts">
					<div class="blog_left_arts_title">
						<a id="title">来一斤小许</a>
					</div>
					<div class="blog_left_arts_author" >
						<a id="aut">文/小伟</a>
					</div>
					<div class="blog_article_remark">
						<p class="" id="s_content'+i+'">运行此 main 方法方法可元素欲达可元素欲达到 inline-block 的效果只需直接设置此属性值或使用 zoom:1 以启动项目，此main方法可以放置在任意的Class类定义中成的配置再添加额外的配置项，例如 VM argument 可配置为</p>
					</div>
				</div>
				
				<div class="blog_right_imgs">
					<a><img  id="xiaoyu'+i+'" ></a>
				</div>
				<div  style="display:inline-block;"><button class="glyphicon glyphicon-comment" style="border:none;background:white;color:gray;dispaly:inline-block;" ><span id="commentN'+i+'" style="margin-left:5px;"></apan></button>
				<div  style="display:inline-block;"><button class="glyphicon glyphicon-heart" style="border:none;background:white;color:gray;" ><span id="collectN'+i+'"style="margin-left:5px;"></apan></button>
			</div><div class="blog_article">
				<div class="blog_left_arts">
					<div class="blog_left_arts_title">
						<a id="title">来一斤小许</a>
					</div>
					<div class="blog_left_arts_author" >
						<a id="aut">文/小伟</a>
					</div>
					<div class="blog_article_remark">
						<p class="" id="s_content'+i+'">运行此 main 方法方法可元素欲达可元素欲达到 inline-block 的效果只需直接设置此属性值或使用 zoom:1 以启动项目，此main方法可以放置在任意的Class类定义中成的配置再添加额外的配置项，例如 VM argument 可配置为</p>
					</div>
				</div>
				
				<div class="blog_right_imgs">
					<a><img  id="xiaoyu'+i+'" ></a>
				</div>
				<div  style="display:inline-block;"><button class="glyphicon glyphicon-comment" style="border:none;background:white;color:gray;dispaly:inline-block;" ><span id="commentN'+i+'" style="margin-left:5px;"></apan></button>
				<div  style="display:inline-block;"><button class="glyphicon glyphicon-heart" style="border:none;background:white;color:gray;" ><span id="collectN'+i+'"style="margin-left:5px;"></apan></button>
			</div>
			<button class="blog_column_add_button" id="addBtn">加载更多</button>
	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	<script type="text/javascript">
		var a = 1500;
		$("#addBtn").on("click",function(){
			 var x = window.parent.document.getElementById("rightContainer");
			 x.style.height = 1500+"px";
		});
			
		
	</script>
</body>
</html>